<p-dialog header="{{label.nomeSistema}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '15vw'}"
  [draggable]="false" [resizable]="false" [closable]="false">


  <div class="card">
    <div class="flex flex-wrap align-items-center justify-content-center card-container ">
      <div class="scalein animation-duration-3000 animation-iteration-infinite flex align-items-center justify-content-center
      border-round m-2 px-5 py-3">

        <img src="../../../../assets/layout/images/configurator/v3/avalon-bootstrap3.png" class="logo" />
      </div>
    </div>


  </div>

</p-dialog>
