<div class="exception-body error">
    <div class="exception-text">
        <div class="exception-box">
            <span>Error</span>
        </div>
        <span>Occured</span>
    </div>
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-error.png" alt="avalon-ng"/>
        </div>
        <div class="exception-panel-content">
            <div class="information-text">
                <h3>An error occured.</h3>
                <p>Please contact system administrator.</p>
            </div>
            <!-- <button pButton type="button" [routerLink]="['/']" label="Go To Dashboard"></button> -->
        </div>
    </div>
</div>
