<div class="p-field ">
  <label  for="{{id}}">{{label}}</label>
  <p-calendar [showIcon]="showIcon" [(ngModel)]="value" inputId="{{id}}" [minDate]="minDate" [maxDate]="maxDate"
   [disabled]="disabled" [required]="require" [showButtonBar]="showButtonBar" [touchUI]="touchUI"  [readonlyInput]="readonlyInput"></p-calendar>
   <small   id="{{id}}-help">{{mensagem}}</small>

</div>
