<p-table [value]="lista" dataKey="ID" [loading]="loading" styleClass="p-datatable-gridlines p-datatable-striped"
  currentPageReportTemplate="Exibindo {currentPage}  de {totalPages} páginas" [rows]="itensPorPagina" [paginator]="true"
  [rowsPerPageOptions]="[10,25,50]" [lazy]="true" [totalRecords]="totalDeRegistros" (onLazyLoad)="mudarPagina($event)"
  [lazyLoadOnInit]="false" #tabela>



  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td colspan="7">
        <div class="flex align-items-center justify-content-center">
          Nenhum registro encontrado.
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header" class="p-col-12 p-lg-12">


    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        Id
      </div>

    </th>
    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        Alias
      </div>

    </th>
    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        Document Title
      </div>
    </th>
    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        Initial Release Date
      </div>
    </th>
    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        Current Release Date
      </div>
    </th>
    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        CvrfUrl
      </div>
    </th>

    <th>
      <div class="p-d-flex p-jc-between p-ai-center">
        {{label.acao | translate}}
      </div>
    </th>




  </ng-template>
  <ng-template pTemplate="body" let-atualizacao>
    <tr>
      <td style="width: 10%;">{{ atualizacao?.ID}}</td>
      <td style="width: 10%;">{{ atualizacao?.Alias}}</td>
      <td>{{ atualizacao?.DocumentTitle}}</td>
      <td>{{ atualizacao?.InitialReleaseDate}}</td>
      <td>{{ atualizacao?.CurrentReleaseDate}}</td>
      <td>{{ atualizacao?.CvrfUrl}}</td>
      <td style="width: 10%;">
        <p-splitButton appendTo="body" label="Ações" [model]="items" styleClass="p-button-outlined"
          class="p-button-raised p-button-info p-button-text " (onDropdownClick)="aoClicarNoSplit(atualizacao)">
        </p-splitButton>

      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-end">
      Quantidade de registros {{ totalDeRegistros }}.
    </div>
  </ng-template>
</p-table>
