<form autocomplete="off">
  <app-dialog-confirmacao></app-dialog-confirmacao>


  <div class="p-grid">
    <div class="p-col-12">
      <div class="card ">


        <div class="flex flex-wrap align-items-center justify-content-center mb-2 ">
          <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
            <p class="w-12 text-3xl text-left font-bold mr-3 mb-1 ">{{label.gerenciar | translate }}
              {{label.atualizacao | translate}} </p>
          </div>
        </div>



        <p-fieldset legend="{{label.consulta | translate}}" >




          <div class="p-grid">

            <div class="p-field p-fluid p-lg-2 p-col-12">
              <label for="inp-id">ID</label>
              <p-dropdown id="inp-id" [options]="listaDeId" [(ngModel)]="atualzacaoFiltro.ID" optionValue="descricao"
                optionLabel="descricao" placeholder="Selecionar" name="descricao" [showClear]="true" [itemSize]="5"
                [filter]="true">
              </p-dropdown>
            </div>
            <div class="p-field p-fluid p-lg-1 p-col-12 ">
              <label for="inp-alias">Alias</label>
              <input class="p-col-12" id="inp-alias" pInputText name="alias" [(ngModel)]="atualzacaoFiltro.Alias"
                autocomplete="off" />

            </div>
            <div class="p-field p-fluid p-lg-2 p-col-12 ">
              <label for="inp-title">Document Title</label>
              <input class="p-col-12" id="inp-title" pInputText name="title"
                [(ngModel)]="atualzacaoFiltro.DocumentTitle" autocomplete="off" />

            </div>
            <div class="p-field p-fluid p-lg-2 p-col-12 ">
              <label for="inp-ini-date">Initial Release Date</label>
              <input class="p-col-12" id="ini-date" pInputText name="ini-date"
                [(ngModel)]="atualzacaoFiltro.InitialReleaseDate" autocomplete="off" />

            </div>
            <div class="p-field p-fluid p-lg-2 p-col-12 ">
              <label for="inp-current-date">Current Release Date</label>
              <input class="p-col-12" id="inp-current-date" pInputText name="current-date"
                [(ngModel)]="atualzacaoFiltro.CurrentReleaseDate" autocomplete="off" />

            </div>
            <div class="p-field p-fluid p-lg-2 p-col-12 ">
              <label for="inp-cvrfUrl">CvrfUrl</label>
              <input class="p-col-12" id="inp-cvrfUrl" pInputText name="cvrfUrl" [(ngModel)]="atualzacaoFiltro.CvrfUrl"
                autocomplete="off" />

            </div>



            <div class="MarTop30 MarBotton20 p-fluid">
              <button pButton pRipple type="button" class=" p-lg-4 p-col-12" icon="pi pi-search" label="Consultar"
                (click)="consultar()"></button>
            </div>

          </div>


          <app-atualizacao-consulta [lista]="listaDeAtualizacoes" [totalDeRegistros]="totalDeRegistros"
            [itensPorPagina]="itensPorPagina" [pagina]="pagina" [loading]="loading" [items]="items"
            (onDropdownClick)="abrirItens($event)" (consultar)="consultar($event)"
            (aoMudarPagina)="aoMudarPagina($event)"  (excluir)="confirmarExclusao($event)"
           >
          </app-atualizacao-consulta>
        </p-fieldset>
      </div>
    </div>
  </div>

</form>
