.layout-config {
	position: fixed;
	padding: 0;
	top: 0;
	display: block;
	right: 0;
	width: 20em;
	z-index: 996;
	height: 100%;
	transform: translate3d(20em, 0px, 0px);
	transition: transform $transitionDuration;
	background-color: var(--surface-card);
    color: var(--text-color);
	backface-visibility: hidden;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
	0 5px 22px 4px rgba(0, 0, 0, 0.12),
	0 12px 17px 2px rgba(0, 0, 0, 0.14);

	&.layout-config-active {
		transform: translate3d(0px, 0px, 0px);

		.layout-config-button {
			opacity: 0;
			visibility: hidden;
		}
	}

	.layout-config-button {
		display: block;
		position: absolute;
		width: 52px;
		height: 52px;
		line-height: 52px;
		background-color: var(--primary-color);
		text-align: center;
		top: 300px;
		left: -51px;
		z-index: -1;
		overflow: hidden;
		cursor: pointer;
		opacity: 1;
		color: var(--primary-color-text);
		border-top-left-radius: $borderRadius;
		border-bottom-left-radius: $borderRadius;
		transition: background-color $transitionDuration, opacity $transitionDuration;
		transition-delay: .2s;
		box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
		0 5px 22px 4px rgba(0, 0, 0, 0.12),
		0 12px 17px 2px rgba(0, 0, 0, 0.14);

		i {
			font-size: 32px;
			font-weight: bold;
			line-height: inherit;
			cursor: pointer;
			transition: transform 1s;
		}

		&:hover {
            opacity: .9;
		}
	}

	.layout-config-close {
		position: absolute;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		right: 20px;
		top: 10px;
		z-index: 999;
		background-color: #e0284f;
		border-radius: 50%;
		transition: background-color $transitionDuration;

		i {
			color: #ffffff;
			line-height: inherit;
			font-size: 12px;
		}

		&:hover {
			background-color: #d44d69;
		}
	}

	.layout-config-content {
		position: relative;
		height: 100%;
		padding: 1em;
		overflow: auto;

		.layout-themes {
			display: flex;
			flex-wrap: wrap;

			> div {
				padding: .25rem;
			}


			a {
				width: 2rem;
				height: 2rem;
				border-radius: $borderRadius;
				display: block;
				position: relative;
				align-items: center;
				justify-content: center;
				transition: transform $transitionDuration;
				box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

				i {
					font-size: 1rem;
					position: absolute;
					color: var(--primary-color-text);
					top: 50%;
					left: 50%;
					margin-left: -.5rem;
					margin-top: -.5rem;
				}

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}

	.p-col {
		text-align: center;
	}

	p {
		line-height: 1.5;
		margin-top: 0;
		color: var(--text-color-secondary);
	}
}

.blocked-scroll-config {
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.layout-config {
		transform: translate3d(20em, 0px, 0px);

		&.layout-config-active {
			transform: translate3d(0px, 0px, 0px);
		}

		.layout-config-close {
			right: 29px;
		}
	}
}
