  <div class="card ">
    <div class=" grid ">

      <div class="flex flex-wrap align-items-center justify-content-center mb-12 p-col-12">
        <div class="flex align-items-center border-bottom-1 surface-border surface-overlay w-full">
          <p class="w-12 text-3xl text-left font-bold mr-3 mb-1 ">Resumo</p>
        </div>
      </div>

      <div *ngFor="let element of listaQuantidade let i = index" class="col-12 md:col-6 lg:col-3">
        <div [ngClass]="processarClasse(i)" >
          <div class="overview-box-title">
            <span>Ano - </span>
            <span>{{element.ano}} </span>
          </div>
          <div class="overview-box-count">
            <span class=" text-2xl text-left  ">Quantidade - </span>
            <span class=" text-2xl text-left  "> {{element.quantidade}} </span>
          </div>
        </div>
      </div>








    </div>

  </div>
