<div class="exception-body access">
    <div class="exception-text">
        <div class="exception-box">
            <span>Access</span>
        </div>
        <span>Denied</span>
    </div>
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-error.png" alt="avalon-ng"/>
        </div>
        <div class="exception-panel-content">
            <div class="information-text">
                <h3>Access denied to this resource.</h3>
                <p>You don't have the necessary permission.</p>
            </div>
            <!-- <button pButton type="button" [routerLink]="['/']" label="Go To Dashboard"></button> -->
        </div>
    </div>
</div>
