/* You can add global styles to this file, and also import other style files */
.w5 {
  width: 5%;
}

.p-inputmask,
.p-calendar,
.p-dropdown {
  min-height: 33px !important;
}

.p-inputtext {
  max-height: 38px !important;
}

.p-splitbutton.p-button-outlined > .p-button {
  background-color: transparent;
  color: #3b82f6;
  border: 1px solid;
}

.blue-btn-acao.p-menuitem > .p-menuitem-link {
  background: transparent !important;
  border-left: 4px solid #0d6efd !important;
  color: #0d6efd !important;
}

.blue-btn-acao.p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #0d6efd !important;
}

.red-btn-acao.p-menuitem > .p-menuitem-link {
  background: transparent !important;
  border-left: 4px solid #dc3545 !important;
  color: #dc3545 !important;
}

.red-btn-acao.p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #dc3545 !important;
}

.grayish-btn-acao.p-menuitem > .p-menuitem-link {
  background: transparent !important;
  border-left: 4px solid #6c757d !important;
  color: #6c757d !important;
}

.grayish-btn-acao.p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #6c757d !important;
}

.green-btn-acao.p-menuitem > .p-menuitem-link {
  background: transparent !important;
  border-left: 4px solid #28a745 !important;
  color: #28a745 !important;
}

.green-btn-acao.p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #28a745 !important;
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon {
  color: white !important;
}

/* Border Radius */
.BordRad3 {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.BordRad4 {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.BordRad5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.BordRad10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.BordRad15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
.BordRadHalf {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.BordRight {
  border-right: solid 1px transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.BordLeft {
  border-left: solid 1px transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.BordTop {
  border-top: solid 1px transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.BordBottom {
  border-top: solid 1px transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.BordAll {
  border: solid 1px transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Margins */
.MarTopPerc5 {
  margin-top: 5%;
}
.MarTopPerc10 {
  margin-top: 10%;
}
.MarTopPerc20 {
  margin-top: 20%;
}
.MarTopPerc30 {
  margin-top: 30%;
}
.MarTopPerc40 {
  margin-top: 40%;
}
.MarTopPerc50 {
  margin-top: 50%;
}

.MarAuto {
  margin-left: auto;
  margin-right: auto;
}

.MarRightPerc50 {
  margin-right: 50% !important;
}

.MarTop5 {
  margin-top: 5px;
}
.MarTop10 {
  margin-top: 10px;
}
.MarTop20 {
  margin-top: 20px;
}
.MarTop25 {
  margin-top: 25px;
}
.MarTop30 {
  margin-top: 30px;
}
.MarTop35 {
  margin-top: 35px;
}
.MarTop40 {
  margin-top: 40px;
}
.MarTop50 {
  margin-top: 50px;
}

.MarBotton5 {
  margin-bottom: 5px;
}
.MarBotton10 {
  margin-bottom: 10px;
}
.MarBotton20 {
  margin-bottom: 20px;
}
.MarBotton30 {
  margin-bottom: 30px;
}
.MarBotton35 {
  margin-bottom: 35px;
}
.MarBotton40 {
  margin-bottom: 40px;
}
.MarBotton50 {
  margin-bottom: 50px;
}

/* background colors */
.white-back {
  background-color: #ffffff !important;
}
.red-back {
  background-color: #ef3c56 !important;
}
.gray-back {
  background-color: #f7f7f7 !important;
}
.leaden-back {
  background-color: #fbfcfd !important;
}
.orange-back {
  background-color: #f15a29 !important;
}
.blue-back {
  background-color: #0277bd !important;
}
.secondary-back {
  background-color: #ffc107 !important;
}

/* background colors */
.softBrownBack {
  background-color: #dbd0bd !important;
}
.softGreenBack {
  background-color: #8bd8b1 !important;
}
.softOrangeBack {
  background-color: #f9bb70 !important;
}
.softYellowBack {
  background-color: #ffe771 !important;
}
.softRedBack {
  background-color: #ef7f88 !important;
}
.softBlueBack {
  background-color: #6bcced !important;
}
.softGrayBack {
  background-color: #f2f2f2 !important;
}

/* Font Sizes */
.Fs9 {
  font-size: 9px !important;
}
.Fs10 {
  font-size: 10px !important;
}
.Fs11 {
  font-size: 11px !important;
}
.Fs12 {
  font-size: 12px !important;
}
.Fs13 {
  font-size: 13px !important;
}
.Fs14 {
  font-size: 14px !important;
}
.Fs15 {
  font-size: 15px !important;
}
.Fs16 {
  font-size: 16px !important;
}
.Fs17 {
  font-size: 17px !important;
}
.Fs18 {
  font-size: 18px !important;
}
.Fs19 {
  font-size: 19px !important;
}
.Fs20 {
  font-size: 20px !important;
}
.Fs21 {
  font-size: 21px !important;
}
.Fs22 {
  font-size: 22px !important;
}
.Fs23 {
  font-size: 23px !important;
}
.Fs24 {
  font-size: 24px !important;
}
.Fs25 {
  font-size: 25px !important;
}
.Fs26 {
  font-size: 26px !important;
}
.Fs27 {
  font-size: 27px !important;
}
.Fs28 {
  font-size: 28px !important;
}
.Fs29 {
  font-size: 29px !important;
}
.Fs30 {
  font-size: 30px !important;
}
.Fs40 {
  font-size: 40px !important;
}
.Fs50 {
  font-size: 50px !important;
}
.Fs60 {
  font-size: 60px !important;
}
.Fs100 {
  font-size: 100px !important;
}
.Fs130 {
  font-size: 130px !important;
}

/* Paddings */

.PaddingTopPercent10 {
  padding-top: 10%;
}

/* Padding With Transparent Border*/
.PadWithBorder1 {
  border: solid 1px transparent;
}
.PadWithBorder2 {
  border: solid 2px transparent;
}
.PadWithBorder3 {
  border: solid 3px transparent;
}
.PadWithBorder4 {
  border: solid 4px transparent;
}
.PadWithBorder5 {
  border: solid 5px transparent;
}
.PadWithBorder10 {
  border: solid 10px transparent;
}
