<div class="exception-body notfound">
  <div class="exception-text">
      <div class="notfound-box">
          <span>Page</span>
      </div>
      <span class="notfound-text">Not Found</span>
  </div>
  <div class="exception-panel">

      <div class="exception-panel-content">
          <div class="information-text">
              <h3>Page Not Found.</h3>
              <p>Please contact system administrator.</p>
          </div>
      </div>
  </div>
</div>






<div class="dashboard grid">


  <div  class="col-12 md:col-6 lg:col-3">
    <div  class="widget-overview overview-box-1">
      <div class="overview-box-title">
        <span>sdfsdf</span>
      </div>
      <div class="overview-box-count">150 <i class="pi pi-arrow-up"></i></div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="widget-overview overview-box-2">
      <div class="overview-box-title">
        <span>Check-ins</span>
      </div>
      <div class="overview-box-count">532 <i class="pi pi-arrow-up"></i></div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="widget-overview overview-box-3">
      <div class="overview-box-title">
        <span>Files</span>
      </div>
      <div class="overview-box-count">450 <i class="pi pi-arrow-down"></i></div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <div class="widget-overview overview-box-4">
      <div class="overview-box-title">
        <span>Users</span>
      </div>
      <div class="overview-box-count">532 <i class="pi pi-arrow-down"></i></div>
    </div>
  </div>


</div>
