<div class="exception-body notfound">
    <div class="exception-text">
        <div class="notfound-box">
            <span>Page</span>
        </div>
        <span class="notfound-text">Not Found</span>
    </div>
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-error.png" alt="avalon-ng"/>
        </div>
        <div class="exception-panel-content">
            <div class="information-text">
                <h3>Page Not Found.</h3>
                <p>Please contact system administrator.</p>
            </div>
            <!-- <button pButton type="button" [routerLink]="['']" label="Go To Dashboard"></button> -->
        </div>
    </div>
</div>
